@charset "utf-8";
@import url("sside.css");
#section1, #section2 {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
	background-color: #FFE4B5; /* セクションごとに色を統一 */
    border: 1px solid #D2B48C;
}